---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <h1 class="text-3xl">Página protegida</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, culpa sunt
    consectetur modi, doloribus at deleniti perspiciatis eius molestias dolorem,
    veniam eos corrupti corporis saepe. Ex suscipit unde mollitia quis.
  </p>
</MainLayout>
